//Always import reset/Normalize files first, then dependencies such as Bourbon and Neat, the base styles, then everything else.
//The * in the file path directive denotes importing all partials within those folders!

@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "components/components";
@import "patterns/patterns";


$font-color: #404040;
$background-color: #00e68a;
$hover-link-color: #006666;
$nav-font-color: #404040;

$flappy-font: 'flappybirdyregular', sans-serif;

$tablet: 'min-width: 768px';
$desktop:'min-width: 1024px';
 
.container {
	width: 100%;
	@media screen and ($tablet) {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}
	@media screen and ($desktop) {
		max-width: 1040px;
		margin: 0 auto;
	}
  background-color: $background-color;
  text-align: center;
 }

nav {
  width: 100%;
  height: 5em;
  margin-top: 2em;
  margin-bottom: -1em;
  li {
    display: inline;
    padding: 5em;
  }
  a {
  	text-decoration: none;
    font-size: 5em;
    font-family: $flappy-font;
    -webkit-font-smoothing: antialiased;
    color: $nav-font-color;
    &:hover {
      color: $hover-link-color;
    }
  }
}
  
header {
   h1 {
    font-color: $font-color;
    font-family: $flappy-font;
    font-size: 10em;
    margin-bottom: .25em;
    text-align: center;
   }
  }

ul {
	text-decoration: none;
	li {
		text-decoration: none;
		list-style-type: none;
	}
	img {
		text-align: center;
		border-radius: 20px;
		box-shadow: 25px 25px 10px #888888;
	}
  h2 {
    color: $font-color;
    font-family: $flappy-font;
    font-size: 5.5em;
    -webkit-font-smoothing: antialiased;
  }
}

.play {
	button{
		color: #00cacc;
		background-color: #dc3c3c;
		height: 5em;
		width: 10em;
		border-radius: 15px;
		font-size: 1.25em;
		-webkit-font-smoothing: antialiased;
		border: 1.25px solid #bfbfbf;
	}
}

footer {
	margin-top: 2em;
	i {
		padding: 1em;
	}
	a {
		text-decoration: none;
		font-size: 2em;
		font-family: $flappy-font;
		font-color: $font-color;
		& hover {
			color: $hover-link-color;
		}
	}
	p {
		font-size: 3em;
		font-family: $flappy-font;
		font-color: $font-color;
	}




}